@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>@ViewData["Title"]</h1>

@{
    
        <p>
            We will verify your email soon. In the meantime, please check your inbox for the confirmation email.
        </p>
    
    
    
        <p>
            Please check your email to confirm your account. If you haven't received an email yet, don't worry—we'll verify it later.
        </p>
    
}
